:root{
    /* Colors */
    --Very--Dark--Grayish--Blue: hsl(217, 19%, 35%);
    --Desaturate--Dar--Blue: hsl(214, 17%, 51%);
    --Grayis--Blue: hsl(212, 23%, 69%);
    --Light--Grayish--Blue: hsl(210, 46%, 95%);

    /* Font */
    --fz: 13px;
    --Manrope: "Manrope", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    font-size: var(--fz);
    font-family: var(--Manrope);
    background-color: var(--Light--Grayish--Blue);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 50rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 30px var(--Grayis--Blue);
}

/* img-wrapper section */

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* intro section */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem 1.3rem;
}

.intro> * + *{
    margin-top: 1rem;
}

.txt-wrapper>*, .about>*{
    padding-inline: 2.5rem;
}

.txt-wrapper> *+*{
    margin-top: 1rem;
}

/* txt-wrapper section */

.bold-txt{
    font-size: 1.2rem;
    color: var(--Very--Dark--Grayish--Blue);
    line-height: 1.4;
}

/* intro-paragraph section */
.intro-paragraph{
    font-size: .9rem;
    color: var(--Desaturate--Dar--Blue);
}

/* about section */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

/* info section */
.info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar-img{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

.avatar-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.avatar-info p{
    color: var(--Very--Dark--Grayish--Blue);
    font-weight: 700;
}

.avatar-info span{
    color: var(--Grayis--Blue);
    font-weight: 500;
}

/* social links section */
.social-links{
    display: flex;
    align-items: center;
    position: relative;
}

.share{
    border: none;
    outline: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.links{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--Very--Dark--Grayish--Blue);
    position: absolute;
    top: -4.5rem;
    left: -3.8rem;
    font-size: .8rem;
    letter-spacing: .5rem;
    visibility: hidden;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 20px var(--Grayis--Blue);
}

.links::after{
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border: 1rem solid;
    border-color: var(--Very--Dark--Grayish--Blue) transparent transparent transparent;
    position: absolute;
    bottom: -2rem;
    left: 6.5rem;
}

.links p{
    color: var(--Grayis--Blue);
}

/* button style change */
.active{
    background-color: var(--Desaturate--Dar--Blue);
    fill: #fff;
}

/* social links style change */
.appear{
    visibility: visible;
}

@media screen and (max-width: 40rem) {
    .card{
        grid-template-columns: 1fr;
        max-width: 30rem;
        margin-block: 2rem;
        overflow: hidden;
    }
    .about{
        margin-top: 3rem;
    }

    .intro{
        margin-top: 3rem;
    }
    
    .social-links{
        position: static;
    }

    .links{
        width: 100%;
        left: 0;
        bottom: -1.3rem;
        border-radius: 0;
        top: -1rem;
        box-shadow:none;
    }

    .links::after{
        display: none;
    }
}